<!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
  <img class="img-fluid rounded" src="/assets/LogoSimSaveColor.png">
  <div class="footer-limiter">

    <div class="footer-right">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      
    </div>

    <div class="footer-contact">
    <a href="#"><i class="fa fa-envelope"></i></a>
    </div> <br>
    <div class="footer-left">

      <h5 class="footer-links">Fale Conosco</h5>

      <p>Dúvidas, crítica, sugestão ou elogio? 
        Envie um e-mail para suporte@simsave.com.br</p>
    </div>

  </div>

</footer>
<!-- END Footer -->
